<div>
  <h1>Recipes List</h1>
  <%= button_to 'New Recipes', '#'%>
  
  <% @recipes.each do |recipe| %>
    <div class='recipe'>

      <div class='name'>
        <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
        <%= button_to 'Remove', '#'%>
      </div>

      <div class='description'>
        <p><%= recipe.description %></p>
      </div>
    </div>
  <% end %>
  
</div>

