<div class='container'>
  <div class='headline'>
    <h1>Public Recipes</h1>
  </div>
  
  <% @recipes.each do |recipe| %>
    <div class='recipes border'>
      <div class='name'>
        <h3><%= link_to recipe.name, recipe_path(recipe), :class => 'recipe-title' %></h3>
        <p>By: <%= @username %> </p>
      </div>
      <div class='description'>
        <p>Total food items: <%= @total_item %></p>
        <p>Total price: $<%= @total_prices %></p>
      </div>
    </div>
  <% end %>
  
</div>