/* Recipes styles */
.recipes,
.action-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: center;
}

.headline {
  margin: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.recipe-title {
  text-decoration: none;
}

.name {
  width: 20%;
}

.description {
  margin-left: 98px;
  width: 60%;
}

.description p {
  text-align: left;
  font-size: 28px;
}

.recipe-details {
  padding: 28px;
}

.border {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 18px;
  padding: 28px;
}