/* Recipes styles */
.headline {
  margin: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.recipe-title {
  text-decoration: none;
}

.description p {
  font-size: 18px;
}

.border {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 18px 0 !important;
  padding: 28px;
}

.ingredients {
  margin: 28px 0;
}
